<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/headers.ejs') %>
<body style="background: -webkit-radial-gradient(rgb(39, 39, 85),rgb(219, 219, 250),rgb(175, 175, 233));">


    <div class="container">

        <%- include('../partials/navbar.ejs') %>
          
        <% if(data.length == 0){ %>

            <h1 style="text-align: center;">Nada por enquanto...</h1><br><br>
            
        <% }else{ %>

            <% data.forEach(function(food){ %>
        
                <div class="card" style="box-shadow: rgb(149, 160, 161) 0px 3px 8px;">
                  <div class="card-header"><h2><%= food.name %></h2></div>
                  <div class="card-body" style="background: -webkit-radial-gradient(rgb(235, 235, 235),rgb(219, 219, 250),rgb(192, 192, 240));">
                      <img src="<%= food.img %>" alt="Comida" style="width: 280px; height: 170px;">
                      <br><br>
                      
                      <span><%= food.price %> $</span><br><br>
                      <p><%= food.info %></p>
        
                      <form action="/shoppingcart" method="POST">
                        <input type="hidden" name="name" value="<%= food.name %>">
                        <input type="hidden" name="price" value="<%= food.price %>">
                        <input type="hidden" name="img" value="<%= food.img %>">
                        <input type="hidden" name="info" value="<%= food.info %>">
        
                        <button type="submit" class="btn btn-success">Adicionar ao Carrinho</button>
                      </form>
                  </div>
              </div><br><br>
        
              <% }) %>
        <% } %>

    </div>


</body>
<%- include('../partials/scripts.ejs') %>
</html>