<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/headers.ejs') %>
<body style="background: -webkit-radial-gradient(rgb(39, 39, 85),rgb(219, 219, 250),rgb(175, 175, 233));">
    <div class="container" style="background: rgb(219, 219, 250);">


      <%- include('../partials/navbar.ejs') %>

      <h1>Carrinho de Compras</h1><hr>

      <div class="input-group">
        <span class="input-group-text">Informacoes Necessarias</span>
        <input type="text" aria-label="First name" class="form-control" placeholder="Nome" id="name">
        <input type="text" aria-label="Address" class="form-control" placeholder="Indereco" id="address">
        <input type="text" aria-label="Tel_Number" class="form-control" placeholder="Numero do Celular" id="tel_number">
      </div><br>

      <% if(req.session.user.shoppingcart.length == 0 || !req.session.user || req.session.user == undefined){ %>
        <h1 style="text-align: center;">Carrinho Vazio</h1><br>
      <% }else{ %>
        <% req.session.user["shoppingcart"].forEach(function(order){ %>
          <div class="card" style="width: 18rem;">
            <img src="<%= order.img %>" class="card-img-top" alt="<%= order.name %>">
            <div class="card-body">
              <h5 class="card-title"><%= order.name %></h5>
              <p class="card-text"><%= order.info %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= order.price %> $</li>
            </ul>
          </div><br>
        <% }) %>
  
        <div class="btn btn-success form-control" id="pedir">Pedir</div><br><br>
      <% } %>

    </div>
</body>
<script>

  var btn_order = document.getElementById('pedir')

  btn_order.addEventListener('click',function(event){
    var name = document.getElementById('name').value
    var address = document.getElementById('address').value
    var tel_number = document.getElementById('tel_number').value

    var preference = prompt('Alguma Preferencia ?')


    if(name.length == 0 ||  address.length == 0 || tel_number.length == 0 ){
      res.redirect('/shoppingcart')
      return
    }
    if(preference == undefined || preference.length == 0 || preference == null){
      window.location.href = `/order_request/${name}/Nenhuma/${tel_number}/${address}`
      return
    }
    window.location.href = `/order_request/${name}/${preference}/${tel_number}/${address}`
  })

</script>
<%- include('../partials/scripts.ejs') %>
</html>


